<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Hello, sport lovers!</h1>
      <p class="lead">
      This is a simple sports blogging sit that enables you to share your views on random topics in any 
      sport you choose</p>
      <hr class="my-4">
      <p>So feel free and express yourself</p>
      <a class="btn btn-dark btn-lg" href="#" role="button">Sign up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Joseph Olukunle", "https://github.com/lerderl/sports_blog_1", 
    class: "text-white-50" %></small>
  </div>
</footer>
