<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "lerderl", "https://github.com/lerderl/sports_blog_1", 
    class: "text-white-50" %></small>
  </div>
</footer>